@model IEnumerable<MiniProject2_TrafficStatus.Models.Road>

@{
    ViewBag.Title = "Index";
}

<h2>StatusRoad</h2>
<div>
    <img src="~/Resoucre/road1.png" /><br />
    <img src="~/Resoucre/road1.png" />
</div>
